@using ExamApplication.Service.Models.Users
@{
    Layout = "../Shared/_AdminLayout";
}
@model List<ExamApplicationUserDto>
<h1>Users</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    @foreach(ExamApplicationUserDto user in Model)
        {
        <tr>
            <th>@(user.Id)</th>
            <td>@(user.Name)</td>
            <td>@(user.LastName)</td>
            <td>@(user.Email)</td>
            <td><a class="btn btn-primary" asp-area="Administration" asp-controller="UserAdministration" asp-action="Edit" asp-route-id="@user.Id">Edit</a></td>
            <td><a class="btn btn-primary" asp-area="Administration" asp-controller="UserAdministration" asp-action="Delete" asp-route-id="@user.Id">Delete</a></td>
        </tr>
        }
    <a class="btn btn-primary" asp-area="Administration" asp-controller="UserAdministration" asp-action="Create">Create</a>
    </tbody>
</table>